body {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: solid 1px #93958ec5;
}

.logo {
    margin-right: 15px;
    padding-right: 10px;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.pesquisa input[type="text"] {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 25px 0 0 25px;
    width: 500px;
    color: #333;
    box-shadow: 0px 0px 10px #85322581;
}

.pesquisa button {
    padding: 10px 20px;
    background-color: #853225;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 0 25px 25px 0;

}

.pesquisa button:hover {
    background-color: #331a13;
}

.a {
    color: #333;
    text-decoration: none;
}


.footer {
    background-color: #fff;
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #918c8c;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.social-icons a:hover {
    background-color: #853225;
}

.footer-apps {
    font-size: 14px;
    color: #333;
}
.footer-apps a:hover{
    color: #853225;
}

.footer-apps h3 {
    font-weight: bold;
    margin-bottom: 5px;
}

.app-icons {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-right: 50px;
    color: #918c8c;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    justify-content: center;
    align-self: center;
    padding-bottom: 50px;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    right: 350px;
    padding: 50px;
    text-align: center;
}

.card-image {
    width: 100%;
    height: 150px;
    border-radius: 8px;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 15px 0;
    line-height: 1.4;
}

.author-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.author-image {
    border-radius: 50%;
}

.author-info p {
    font-weight: bold;
    margin: 0;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    width: 700px;
    background-color: #ffffff;
    border-radius: 8px;
    align-self: center;
    padding: 23px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    justify-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #853225;
    margin-bottom: 10px;
}

.rating {
    font-size: 14px;
    color: #888888;
    margin-bottom: 10px;
}

.rating span {
    color: #888888;
    font-weight: bold;
}

.content {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.video-section {
    flex: 3;
}

.ad-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad-section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.recipe-detail-container {
    width: 700px;
    background-color: #ffffff;
    border-radius: 8px;
}

.author-section2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.author-image2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-info2 p {
    font-weight: bold;
    margin: 0;
    color: #333;
}

.ingredients-section,
.preparation-section {
    margin-bottom: 20px;
}

.ingredients-section h2 {
    font-size: 18px;
    color: #853225;
    margin-bottom: 10px;
}

.preparation-section h2{
    color: #853225;
}

.ingredient-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ingredient-item {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 45%;
}

.ad-section {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.preparation-list {
    list-style-type: none;
}

.preparation-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.botao-estilizado {
    background-color: #853225;
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: center;
    margin: inherit;
    width: auto;
    text-decoration: none;
}

.botao-estilizado:hover {
    background-color: #331a13;
}

.carousel-container {
    max-width: 900px;
    overflow: hidden;
    border-radius: 8px;
    align-self: center;
    padding: 50px;
}

.carousel {
    display: flex;
    width: 100%;
    animation: slide 50s infinite;
}

.carousel-item {
    width: 100%;
    flex-shrink: 0;
}

.carousel-item img {
    width: 100%;
    max-height: 400px;
    display: block;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(0%); }
}